@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

body {
  display: grid;
  grid-template-rows: 150px auto;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dcdcdc;
}

.main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}
